* {
    font-family: "JetBrainsMono Nerd Font Mono", "Symbols Nerd Font Mono";
    font-size: 15px;
}

window#waybar {
    background: transparent;
}

/* modules */
#workspaces,
#clock,
#pulseaudio,
#network,
#cpu,
#memory,
#tray,
#custom-arch,
#custom-power {

    background-color: #1a1b26;
    color: #e0def4;

    border: 1px solid #89b4fa;
    border-radius: 12px;

    padding: 0 14px;
    margin: 5px 3px;
}

/* arch */
#custom-arch {
    font-size: 20px;
    color: #89b4fa;
}

#workspaces button {
    color: #3b4261;
    font-size: 16px;
    padding: 0 8px;
}

#workspaces button:not(.empty) {
    color: #5476ac;
}

#workspaces button.active {
    color: #89b4fa;
    font-size: 18px;
}

#workspaces button.focused {
    color: #89b4fa;
}

#workspaces button:hover {
    background: rgba(137,180,250,0.15);
    border-radius: 8px;
}

#custom-power:hover {
    color: #f38ba8;
}